* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  /* background: url("/images/background.jpg") no-repeat center center/cover; */
  background: url("../images/background.jpg") no-repeat center center/cover;
  position: relative;
  font-family: "Comic Neue", cursive;
}

.bg {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  height: 100%;
}

.bg::before {
  content: "";
  background-color: #10180d;
  opacity: 0.7;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  height: 100%;
}

.bg .header {
  flex: 1;
  z-index: 10;
}
.bg .header .title {
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-size: 4rem;
}

.bg progress {
  margin: 60px 0 0 0;
  z-index: 10;
  height: 15px;
  color: white;
  background-color: red;
  width: 60%;
}
::placeholder {
  color: #333;
  padding: 10px 10px;
  text-align: center;
}
.bg .question {
  margin: 20px 40px;
  flex: 10;
  font-family: "Comic Neue", cursive;
  font-weight: 300;
  font-size: 2rem;
  padding: 10px 30px;
  width: 60%;
  z-index: 1;
  border: 1px dotted #fff;
  border-radius: 10px;
  line-height: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.bg .question .answer {
  display: flex;
  justify-content: space-between;

  text-align: center;
}
.bg .question .answer input {
  padding: 10px;
  margin: 0 2px;
  flex: 1;
  /* background-color: #10180d; */
  font-family: "Comic Neue", cursive;
  background: #fff;
  opacity: 0.8;
  border: none;
  color: #333;
  font-size: 1rem;
  /* outline-color: greenyellow; */
}
.bg .question .answer button {
  padding: 10px;
  background-color: greenyellow;
  font-family: "Comic Neue", cursive;
  border: none;
}
.bg .footer {
  z-index: 5;
  text-align: center;
  margin-bottom: 10px;
}

.end {
  background: url("../images/endgame.jpg") no-repeat center center/cover;
  /* background: url("/images/endgame.jpg") no-repeat center center/cover; */
  z-index: 100;
}
@media (min-width: 601px) and (max-width: 900px) {
  .bg {
    height: 70%;
  }
  .bg .header .title {
    font-size: 1rem;
  }
  .bg .question {
    margin: 10px;
    font-size: 2rem;
    padding: 10px;
    width: 90%;
    line-height: 1;
  }

  .bg progress {
    width: 70%;
  }
  .bg .footer {
    position: absolute;
    bottom: 10px;
  }
  .bg .question .answer button {
    padding: 10px;
    background-color: orange;
    border: none;
  }
}
@media (min-width: 321px) and (max-width: 600px) {
  .bg {
    height: 70%;
  }
  .bg .header .title {
    font-size: 1rem;
  }
  .bg .question {
    margin: 10px;
    font-size: 0.8rem;
    padding: 10px;
    width: 90%;
    line-height: 1;
  }

  .bg progress {
    width: 90%;
  }
  .bg .footer {
    position: absolute;
    bottom: 10px;
  }
  .bg .question .answer input {
    font-size: 0.8rem;
  }
  .bg .question .answer button {
    padding: 5px;
    background-color: yellow;
    border: none;
  }
}
@media only screen and (max-width: 320px) {
  .bg {
    height: 60%;
  }
  .bg .header .title {
    font-size: 1.2rem;
  }
  .bg .question {
    margin: 5px;
    font-size: 1rem;
    padding: 5px;
    width: 90%;
    line-height: 1;
  }
  .bg .question .answer input {
    margin: 0;
    padding: 0 5px;
  }
  .bg progress {
    width: 90%;
    margin: 20px 0 0 0;
  }
  .bg .footer {
    position: absolute;
    bottom: 10px;
  }
  .bg .question .answer button {
    padding: 10px;
    background-color: purple;
    border: none;
  }
}
